<% if @replies.count == 0 %> 
  <table>    
    <tr class= "bg-light-yellow">
      <th>Haven't placed any comments.<th>
    </tr>
  </table>
<% else %>
  <div class="bg-light-yellow">
    <% @replies.each do |reply| %>
      <div class="my-comment-div">
        <div class="">
          <h5 class="float-left"><%= link_to reply.post.title, post_path(reply.post) %></h5>
          <em class="float-right"><%= reply.created_at.strftime("%Y-%m-%d %H:%M:%S") %></em>
          <div class="clearfix"></div>
        </div>
        
        <div class="user-comment-area mb-3">
          <%= reply.comment %>
        </div>
        <% if reply.user == current_user %>
          <%= render partial: 'shared/reply-edit-btn', locals: {reply: reply} %>
          <div class="clearfix"></div>        
        <% end %>
        
      </div>
    <% end %>
  </div>
<% end %>
<br>
<%= paginate @replies %>