<% if @replies.count == 0 %> 
  <table class=table>    
    <tr class= "bg-light-yellow">
      <th>Haven't placed any comments.<th>
    </tr>
  </table>
<% else %>
  <div class="bg-light-yellow">
    <% @replies.each do |reply| %>
      <div class="my-comment-div">
        <div class="">
          <h5 class="float-left"><%= link_to reply.post.title, post_path(reply.post) %></h5>
          <em class="float-right"><%= reply.created_at.strftime("%Y-%m-%d %H:%M:%S") %></em>
          <div class="clearfix"></div>
        </div>
        
        <% if reply.user == current_user %>
          <div class="user-comment-area mb-3">
            <%= reply.comment %>
          </div>
          <div class="comment-edit">
            <%= link_to edit_post_reply_path(reply.post, reply) do %>
              <%= fa_icon 'edit', style: 'font-size: 27px;' %>
            <% end %>
            <%= link_to post_reply_path(reply.post, reply), method: :delete, data: {confirm: "Are you sure?"} do %>
              <%= fa_icon 'times', style: 'border: 2px solid #007bff; border-radius: 3px; padding: 2px 4px;' %>  
            <% end %>
          </div>
          <div class="clearfix"></div>
          
        <% else %>
          <div class="user-comment-area">
            <%= reply.comment %>
          </div>
        <% end %>
        
      </div>
    <% end %>
  </div>
<% end %>
<br>
<%= paginate @replies %>