<div class="container">
  <div class="margin-top-50">
    <%= simple_form_for @user do |f| %>
      <%= f.input :name, label: false %>
      <%= f.input :intro, label: false, input_html: { class: 'de-height', :rows => 6 } %>
      <div class="form-inline">
        <% if @user.avatar? %>
          <%= image_tag @user.avatar, width: '300px', class: 'img-thumbnail'%>
          <%= f.input :avatar, label: false, input_html: { class: 'btn btn-outline-info', style: "margin: 0 10px;"}%>
        <% else %>
          <%= f.input :avatar, label: "Upload Picture", label_html: { class: 'btn btn-outline-info', style: "margin: 0 10px;"} %>
        <% end %>
      </div>
      <div class="clearfix"></div>
      <hr>
      <%= f.button :submit, "Update", class: 'btn btn-outline-dark' %>
    <% end %>
  </div>
</div>