<div class="user-info">
  <div class="container">
    <div class="row">
      <!--USER'S SELF-INTRODUCTION -->
      <div class="col-3">
        <%= render partial: 'shared/user-info', locals: {user: @user} %>
      </div>
      <div class="col-9 py-5">
        <p><%= @user.intro %></p>
        <% if @user == current_user %>
          <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-outline-dark' %>
        <% else %>
          <%= link_to class: 'btn btn-outline-dark' do %>
            <%= fa_icon 'plus' %>
            <span>Friend</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>


<br>
<!-- personal articles -->
<div class="container">
  <% if @user == current_user %>
     <div class="text-center">
      <%= link_to 'New Post', new_post_path, class: 'btn btn-outline-dark' %>
    </div>
    <hr>
    
    <ul class="nav nav-tabs weight-700">
      <li class="nav-item">
        <%= link_to 'My Posts', user_path(@user), class: "nav-link #{'active' if action?('show')}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'My Comments', show_reply_user_path(@user), class: "nav-link #{'active' if action?('show_reply')}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'My Collection', show_collect_user_path(@user), class: "nav-link #{'active' if action?('show_collect')}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'My Drafts', show_draft_user_path(@user), class: "nav-link #{'active' if action?('show_draft')} " %>
      </li>
      <li class="nav-item">
        <%= link_to 'My Friends', show_friend_user_path(@user), class: "nav-link #{'active' if action?('show_friend')}" %>
      </li>
    </ul>

  <% else %>
  
    <br>
    <ul class="nav nav-tabs weight-700">
      <li class="nav-item">
        <%= link_to "#{@user.name}'s Posts", user_path(@user), class: "nav-link #{'active' if action?('show')}" %>
      </li>
      <li class="nav-item">
        <%= link_to "#{@user.name}'s Comments", show_reply_user_path(@user), class: "nav-link #{'active' if action?('show_reply')}" %>
      </li>
      <li class="nav-item">
        <%= link_to "#{@user.name}'s Collection", show_collect_user_path(@user), class: "nav-link #{'active' if action?('show_collect')}" %>
      </li>
      <li class="nav-item">
        <%= link_to "#{@user.name}'s friends", class: "nav-link" %>
      </li>
    </ul>

  <% end %>

  
  <div class="row">
    <div class="col">
      <% if action?('show_draft') %>
        <%= render partial: 'drafts' %>
      <% elsif action?('show_reply') %>
        <%= render partial: 'replies' %>
      <% elsif action?('show_collect') %>
        <%= render partial: 'collection' %>
      <% elsif action?('show_friend') %>
        <%= render partial: 'friends' %>
      <% else %>
        <%= render partial: 'posts' %>
      <% end %>
    </div>
  </div>

</div>

