<h1>post new page</h1>
<%= simple_form_for @post do |f| %>
  <%= f.input :title %>
  <%= f.input :image, as: :file %>
  <%= f.input :content %>
  <%= f.association :categories, as: :check_boxes, collection: @categories, input_html: {multiple: true} %>
  <%= f.input :privacy, as: :radio_buttons, collection: Post.privacies, label_method: :first, value_method: :first, checked: @post.privacy %>
  <%= f.button :submit, 'Save Draft', name: 'commit' if @post.draft == true %>
  <%= f.button :submit, 'Published', name: 'commit' %>
<% end %>