<div class="post-show-title">
  <div class="container">
    <span class="weight-700 font-26"><%= @post.title %></span>
    <div class="float-right" id="collect">
      <%= render partial: 'collect-btn' %>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<!-- post article -->
<div class="row post-show-row">
  <div class="col-3 profile-link"> 
    <div class="text-center py-5">
      <%= link_to user_path(@post.user) do %>
        <% if @post.user.avatar? %>
          <%= image_tag @post.user.avatar, width: '150px', class: 'img-thumbnail' %>
        <% else %>
          <div class="text-center">
            <%= fa_icon 'user-circle-o 5x' %>
          </div>
        <% end %>
        <h4 class="mt-3"><%= @post.user.name %></h4>
      <% end %>
      <%= invite_btn(@post.user) unless @post.user == current_user %>  
    </div>
  </div>
  <div class="col-9 post-show-box pt-5 px-5">
    <% if @post.image? %>
      <%= image_tag @post.image, width: '450px', class: 'img-thumbnail' %><br><br>  
    <% end %>
    
    <p style="font-size: 20px;"><%= @post.content %></p>
    <div class="">
      <i style="color: #839cbb;">related tags: </i>
      <% @post.categories.each do |category| %>
        <%= link_to category.name, root_path, class: "badge badge-warning mr-2", style: 'font-size: 18px;' %>
      <% end %>
    </div>
    <% if @post.user == current_user %>
      <div class="comment-edit">
        <%= link_to edit_post_path(@post) do %>
          <%= fa_icon 'edit', style: 'font-size: 27px;' %> 
        <% end %>
        <%= link_to post_path(@post), method: :delete, data: {confirm: "Are you sure?"} do %>
          <%= fa_icon 'times', style: 'border: 2px solid #007bff; border-radius: 3px; padding: 2px 4px;' %>
        <% end %>
      </div>  
    <% end %>
  </div>

</div>

<!-- post's replies -->
<% if @post.replies %>
  <% @replies.each do |reply| %>
    <div class="row post-show-reply-row bg-light-yellow">
      <div class="col-3">
        <div class="text-center py-4 profile-link">
          <%= render partial: 'shared/friend-info', locals: {user: reply.user} %>
        </div>
      </div>
      <div class="col-9 post-show-box py-4 px-5">
        <p><%= reply.comment %></p>
        <% if reply.user == current_user %>
          <%= render partial: 'shared/reply-edit-btn', locals: {reply: reply} %>
        <% end %>
      </div>
      
    </div>
  <% end %>
  <%= paginate @replies %>
<% end %>

<!-- comment textarea -->
<% if @post.draft == false %>
  <div class="py-4 px-5">
    <%= simple_form_for [@post, @reply] do |f| %>
      <%= f.input :comment, input_html: {rows: 5, style: "border-radius: 15px; padding: 20px 40px;"}, placeholder: "Leave comment:", label: false %>
      <%= f.submit "Submit", class: 'btn btn-outline-success float-right' %>
    <% end %>
    <div class="clearfix"></div>
  </div>
<% end %>
